html, body {margin: 0; scroll-behavior: smooth;}

:root {
  --color-one: #1c0b2b;
  --color-two: #301c41;
  --color-three: #413b6b;
  --color-four: #5c65c0;
  --color-five: #6f95ff;
}

body{
  background-color: #d9afd9;
  color: var(--color-two);
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    0deg,
    var(--color-two) 0%,
    var(--color-five) 100%
  );
}

.bodyMain {
  padding: 20px;

  display: flex;
  justify-content: center;
}


.alignItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center{
  text-align: center;
}

.card {
  height: fit-content;
  width: 370px;
  padding: 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  z-index: 5;
}

.header{
  text-align: center;
}

.userInfo {
  background-color: rgba(65, 71, 167, 0.37);
  border: 1px solid rgba(31, 38, 135, 0.37);
  border-radius: 15px;
  padding: 10px 0px;

  margin-top: 20px;
  justify-content: space-evenly;
}
.userAvatar{
  border-radius: 50%;
}

.activities p{
  background-color: rgb(251, 251, 251, 0.4);
  border-radius: 10px;
  padding: 10px 10px;
}
.currentactivity{
  transform: translateY(-10%);
  box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.7);
}

.socialmedia a{
  padding: 10px 10px;
  border: 1px solid rgb(251, 251, 251, 0.4);
  background-color: rgb(251, 251, 251, 0.4);
  text-decoration: none;
  color: black;
  border-radius: 15px;
  transition: 0.3s;
}
.socialmedia a:hover{
  transform: translateY(-10%);
  box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.7);
}
.buttonsBottom a{
  padding: 10px 10px;
  border: 1px solid rgb(251, 251, 251, 0.4);
  background-color: rgb(251, 251, 251, 0.4);
  text-decoration: none;
  color: black;
  border-radius: 15px;
  transition: 0.3s;
}
.buttonsBottom a:hover{
  transform: translateY(-25%);
}

.projects {
  height: fit-content;
  width: 370px;
  padding: 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  z-index: 5;
}