*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#fixed-nav{
    display: none;
    z-index: 1;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 20px;
    margin-top: 12%;

    padding: 20px 20px;
    padding-top: 00px;

    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
#fixed-nav h3{
    color: white;
}
#fixed-nav a{
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s linear;

    color: black;
    background-color: rgb(207, 207, 207);
}
#fixed-nav a:hover{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* Nav End */

.content {
    background-color: rgba(116, 116, 116, 0.5);
    border-radius: 15px;
    padding: 50px;
    color: rgb(255, 255, 255);

    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.content img{
    margin-left: 60px;
    border-radius: 20px;
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 16px;
}

#sub-content a{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    text-decoration: none;
    color: black;
}

.split{
    background-color: rgb(115, 115, 115);
    height: 50px;
}